.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1e1e2f;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.menu a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  color: #4da3ff;
}
